* {
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

html {
    width: 200px;
    min-height: 200px;
}

body {
    margin: 0;
    min-height: 200px;
}

.header {
    display: block;
    height: 40px;
    border-bottom: 1px solid #9343ce;
    margin: 0;
    padding: 10px;
}

.header__wrapper {
    margin: 0 auto;
}

.header__wrapper img {
    height: 100%;
    max-height: 30px;
    float: left;
    margin-top: -5px;
}

.header__wrapper h1 {
    text-align: left;
    font-size: 0.6rem;
    color: #9343ce;
    font-weight: 400;
    float: left;
    height: 40px;
    margin-left: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.main {
    min-height: calc(200px - 15px);
    padding: 10px;
}

.videos-list .valid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 6px;
    background-color: #ddd;
    overflow: hidden;
    width: 100%;
}

.videos-list .valid:hover {
    background-color: #9343ce;
}

.videos-list .valid:active, .videos-list .valid:focus {
    background-color: #7121ac;
}

.videos-list .valid img {
    border: none;
    max-height: 60px;
}

.videos-list .valid p {
    color: #333;
    font-weight: 700;
    border: none;
    height: 100%;
    text-align: left;
    padding-right: 10px;
    font-size: 0.7rem;
}

.videos-list *:not(.valid) p {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
}

.videos-list .valid:hover p,
.videos-list .valid:active p,
.videos-list .valid:focus p {
    color: white;
}

.footer {
    background-color: #ddd;
    min-height: 15px;
    padding: 10px;
    position: relative;
    bottom: 0;
}

.console {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}