/* RESET */

* {
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

html {
    width: 200px;
    min-height: 200px;
}

body {
    margin: 0;
    min-height: 200px;
}

ul {
    list-style: none;
    padding: 0;
}

/* HEADER */

.header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #9343ce;
    margin: 0;
    padding: 10px;
}

.header__wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__wrapper img {
    height: 100%;
    max-height: 30px;
    margin-top: -5px;
}

.header__wrapper__version {
    text-align: right;
    font-size: 0.65rem;
    color: #9343ce;
    font-weight: 400;
    height: 40px;
}

/* MAIN */

.main {
    min-height: calc(200px - 15px);
    padding: 10px;
}

.main__videos-list {
    display: flex;
    width: 100%;
}

.main__videos-list__valid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 6px;
    background-color: #ddd;
    overflow: hidden;
    width: 100%;
    height: 60px;
}

.main__videos-list__valid:hover {
    background-color: #9343ce;
}

.main__videos-list__valid:active,
.main__videos-list__valid:focus {
    background-color: #7121ac;
}

.main__videos-list__valid img {
    border: none;
    max-height: 60px;
}

.main__videos-list__valid p {
    color: #333;
    font-weight: 700;
    border: none;
    font-size: 0.7rem;
    text-align: left;
    padding-left: 10px;
}

.main__videos-list__valid:hover p,
.main__videos-list__valid:active p,
.main__videos-list__valid:focus p {
    color: white;
}

.main__videos-list__invalid {
    display: flex;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.main__videos-list__invalid p {
    font-size: 0.7rem;
    text-align: center;
    width: 100%;
}

/* FOOTER */

.footer {
    background-color: #ddd;
    min-height: 15px;
    padding: 10px;
    position: relative;
    bottom: 0;
}

.footer__console {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}